In [15]:
import pandas as pd

In [5]:
data2 = {
    "cell 1":{
        "ue 1": {
            "load": 60,
            "utilization": 80,
            "server_remaining": 0,
            "server_name": '',
            },
        "ue 2":{
            "load": 50,
            "utilization": 70,
            "server_remaining": 0,
            "server_name": ''
        },
    }
}

In [6]:
# assigning to the first cell manually so that they remaining server 
# can be used by the next cells in the loop
serv_name=1
for ue in data2["cell 1"]:
    data2["cell 1"][ue]['server_remaining'] = 100 - data2["cell 1"][ue]['utilization']
    data2["cell 1"][ue]['server_name'] = str(serv_name)
    serv_name += 1

In [7]:
cell2 ={"ue 1":{
                "load": 40,
                "utilization": 40,
                "server_remaining": 0,
                "server_name": ''
            },
            "ue 2":{
                "load": 30,
                "utilization": 50,
                "server_remaining": 30,
                "server_name": ''
            }
    }

cell3 = {    
        "ue 1":{
            "load": 40,
            "utilization": 40,
            "server_remaining": 0,
            "server_name": ''
        },
        "ue 2":{
            "load": 30,
            "utilization": 50,
            "server_remaining": 0,
            "server_name": ''
        }
    }

In [8]:
cells = [cell2, cell3]

In [9]:
for new_cell in cells:        
        for ue_curr in new_cell:
                util = new_cell[ue_curr]['utilization']

                # check for remaining servers in all previous cell's UEs
                for cell in data2:
                        for ue in data2[cell]:
                                if util<=0: break
                                if data2[cell][ue]['server_remaining']>0:
                                        if data2[cell][ue]['server_remaining']>util:
                                                data2[cell][ue]['server_remaining'] -= util
                                                util = 0
                                        else:
                                                util -= data2[cell][ue]['server_remaining']
                                                data2[cell][ue]['server_remaining'] = 0
                                        new_cell[ue_curr]['server_name'] += data2[cell][ue]['server_name'][-1]

                # if utilization of current UE is still left, assign a new server
                if util > 0:
                        new_cell[ue_curr]['server_name'] += str(serv_name)
                        new_cell[ue_curr]['server_remaining'] = 100 - util
                        serv_name += 1

        # append the new cell to the main data/site
        data2.update({"cell {}".format(len(data2)+1): new_cell})

In [14]:
for cell in data2:
    print(cell)
    for ue in data2[cell]:
        print('\t', ue, end="\n\t\t")
        print(data2[cell][ue])

cell 1
	 ue 1
		{'load': 60, 'utilization': 80, 'server_remaining': 0, 'server_name': '1'}
	 ue 2
		{'load': 50, 'utilization': 70, 'server_remaining': 0, 'server_name': '2'}
cell 2
	 ue 1
		{'load': 40, 'utilization': 40, 'server_remaining': 0, 'server_name': '12'}
	 ue 2
		{'load': 30, 'utilization': 50, 'server_remaining': 0, 'server_name': '23'}
cell 3
	 ue 1
		{'load': 40, 'utilization': 40, 'server_remaining': 0, 'server_name': '3'}
	 ue 2
		{'load': 30, 'utilization': 50, 'server_remaining': 70, 'server_name': '34'}

In [18]:
pd.concat({k: pd.DataFrame(v).T for k, v in data2.items()}, axis=0)

            load utilization server_remaining server_name
cell 1 ue 1   60          80                0           1
       ue 2   50          70                0           2
cell 2 ue 1   40          40                0          12
       ue 2   30          50                0          23
cell 3 ue 1   40          40                0           3
       ue 2   30          50               70          34